@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 62.5%; // 10px
    color: $color-font-primary;
    text-rendering: optimizeLegibility;

    @media only screen and (max-width: $bp-large) {
        font-size: 56.25%; // 9px
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 50%; // 8px
    }
}

body {
    box-sizing: border-box;
    cursor: default;
}

::selection {
    background-color: $color-red;
    color: #fff;
}
