// Colors
$color-font-primary: #f9fafe;
$color-font-dark: #343434;
$color-font-dark-2: #717171;

$color-red: #e7434e;

$color-grey-light-1: #d4d4d4;
$color-grey-light-2: #bdbdbd;

// Other
$figure-shadow: linear-gradient(to bottom, transparent 0%, transparent 60%, #000), linear-gradient(#000, #000);
