// Colors
$color-font-primary: #f9fafe;
$color-font-dark: #343434;
$color-font-dark-2: #717171;

$color-red: #e7434e;

$color-grey-light-1: #d4d4d4;
$color-grey-light-2: #bdbdbd;

$color-footer-bg: #404040;

// Other
$figure-shadow: linear-gradient(to bottom, transparent 0%, transparent 60%, #000), linear-gradient(#000, #000);

// Breakpoints for media queries
$bp-largest: 93.75em;
$bp-large: 75em;
$bp-medium: 65.625em;
$bp-small: 56.25em;
$bp-smallest: 46.875em;

$bp-mobile: 37.5em;
